.bookingForm {
  width: 550px;
  height: 625px;
  background-color: white;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  input,
  select {
    height: 53px;
  }
  > div {
    padding-bottom: 40px;
  }
  .row {
    display: flex;
    gap: 1rem;
    > div {
      width: 50%;
    }
  }
  textarea {
    height: 140px;
  }
  @media screen and (max-width: 821px) {
    width: unset;
  }
}
