.contactCards {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 20px ;
    li {
      text-align: center;
      background-color: #fdf5e6;
      padding: 40px 40px 56px;
      width: 370px;
      h2 {
        margin-top: 1rem 0 10px;
      }
      span {
        display: block;
        max-width: 260px;
      }
      .emailIcon path{
        stroke: #c6651a;
      }
    }
  }
}
