/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: unset;
  text-decoration: none;
}
html {
  color: black;
}
/* variables */
$primary: #053543;
$secondary: #c6651a;
$textColor: #7a7a7a;
$captions: #0b2b43;
$pale: #fdf5e6;
.container {
  max-width: 1140px;
  margin: 0 auto;
  &.flex {
    display: flex;
    > div {
      width: 50%;
    }
  }
}
section {
  background-color: white;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 90vw;
  }
}

//common classes

.tags {
  font-family: var(--font-palanquin);
  color: #0b2b43;
  font-size: 21px;
  position: relative;
  width: max-content;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 90%;
    background: #c6651a;
  }
}
.title {
  font-size: 28px;
  font-family: var(--font-amiri);
  color: #053543;
  line-height: 58px;
}
.block_title {
  font-size: 58px;
  font-family: var(--font-amiri);
  color: #053543;
  line-height: 58px;
}

.description {
  font-size: 16px;
  color: #7b7b7b;
  font-family: var(--font-palanquin);
  line-height: 24px;
}

*:has(+ p[role="alert"]) {
  border: 1px solid red;
  outline: none;
  + p {
    margin-top: 10px;
  }
}
