.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.socials {
  display: flex;
  align-items: center;
}
